server {
    server_name teqmates.com www.teqmates.com;
    client_max_body_size 15M;

    # Zeebull Admin Dashboard
    location /zeebulladmin {
        root /var/www/zeebull/Dashboard;
        index index.html;
        try_files $uri $uri/ /zeebulladmin/index.html;
    }

    # Zeebull User Frontend
    location /zeebull {
        root /var/www/zeebull/Userend;
        index index.html;
        try_files $uri $uri/ /zeebull/index.html;
    }

    # Zeebull Backend API
    location /zeebullapi/ {
        proxy_pass http://127.0.0.1:8011/;
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "upgrade";
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_cache_bypass $http_upgrade;
    }

    listen 443 ssl; # managed by Certbot
    ssl_certificate /etc/letsencrypt/live/teqmates.com/fullchain.pem; # managed by Certbot
    ssl_certificate_key /etc/letsencrypt/live/teqmates.com/privkey.pem; # managed by Certbot
    include /etc/letsencrypt/options-ssl-nginx.conf; # managed by Certbot
    ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem; # managed by Certbot
}

server {
    if ($host = www.teqmates.com) {
        return 301 https://$host$request_uri;
    } # managed by Certbot

    if ($host = teqmates.com) {
        return 301 https://$host$request_uri;
    } # managed by Certbot

    listen 80;
    server_name teqmates.com www.teqmates.com;
    return 404; # managed by Certbot
}
